/**
* create By Songbw on 2018/4/16
* */
@import "./reset-common";
.item-container {
  position: relative;
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: move;
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
    .command {
      width: 30px;
      font-size: 30px;
      float: right;
      i {
        cursor: pointer;
      }
    }
  }
}

